/*------------------------------------*\
    RH | fonts.scss
\*------------------------------------*/

//Classes
.brand-red{
	color: $brand-red;
}
.footer-copyright{
	color: $brand-light-footer;
	font-size: 9px;
}