/*------------------------------------*\
    RH | MEDIA.SCSS
\*------------------------------------*/

.image-gallery{
	width: 100%;
	overflow-y: hidden;
	overflow-x: scroll;
	//min-height: 566px;
	height: auto;
	background: #E6E7E8;
	padding: 30px;

	.gallery-inner{
		margin-right: 20px;
		p{
			vertical-align: middle;
		}
		img{
			display: inline-block;
			margin-right: 0px;
			background: transparent;
			vertical-align: middle; 
		}
		img:last-child{
			margin-right: 30px;
		}
	}
}

.showcase-video{
	.video-inner{
		position: relative;
	}
	position: relative;
	video{
		width: 100%    !important;
  	height: auto   !important;
	}
}