/*------------------------------------*\
    RH | navs.scss
\*------------------------------------*/

header.masthead{
	min-height: 86px;
	background: $brand-dark-gray;
//WORK \ SHOP	
	.page-title{
		ul{
			list-style-type: none;
			margin: 0 0 6px 0;
		}
		li{
			font-family: 'museo_sans100', sans-serif;
			margin: 0;
			display: inline-block;
			*display: inline;

			a{
				font-size: 20px;
				color: $brand-light-gray;
				text-transform: lowercase;
				text-decoration: none;
			}
			&.current_page_item:first-child a,
			&.current-page-ancestor:first-child a{
				font-size: 20px;
				color: $brand-off-white;
				text-transform: uppercase;
				text-decoration: none;
				padding: 0;
			}
			&.current_page_item:last-child a,
			&.current-page-ancestor:last-child a{
				font-size: 20px;
				color: $brand-off-white;
				text-transform: uppercase;
				text-decoration: none;
				padding: 0;
			}
			&:last-child{
				a{
					margin-left: -2px;
				}
			}
		}
	}
	nav{
		margin-top: 18px;
//MAIN NAV
		ul{
			list-style-type: none;
			margin: 0 0 2px 0;
		}
		ul.shop-menu{
			li a{
				font-size: 0.6em;
			}
		}
		li{
			margin-right: 4px;
			margin-bottom: 4px;
			display: inline-block;
			*display: inline;
			text-transform: lowercase;
			a{
				font-size: .8em;
				line-height: .8em;
				text-decoration: none;
				color: $brand-light-navs;
			}
			&.current_page_item,
			&.current-page-ancestor{
				a {
					font-size: .6em;
					color: #ffffff;
					text-transform: uppercase!important;
				}
			}
		}
//LOCATIONS
		.locations{
			ul{
				list-style-type: none;
				margin-left: 2px;
			}
			li{
				font-family: 'museo_sans100', sans-serif;
				display: inline-block;
				*display: inline;
				margin-right: 0;
				a{
					text-transform: uppercase!important;
					color: $brand-light-gray;
				}
			}
		}
		hr{
			display: block;
			border: none;
			border-bottom: dashed 1px $brand-hr-gray;
		}
	}
}
