/*------------------------------------*\
    RH | PAGE.SCSS
\*------------------------------------*/
body.stretched-background {
  max-width: $wrapper-width;
  margin: 0 auto;
  padding: 0 22px;
}

section {
  color: $brand-light-text;
	&.main-container {
    margin-top: $base-line-height / 2;
    padding: $base-line-height - 2;
    height: auto;
		background: $brand-dark-gray;
      .tile{
        position: relative;
        z-index: 1;
        min-height: 200px;
        line-height: 0;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
          @include media-query(palm){
            min-height: 100px;
          }
        //highlight title bg on hover of tile
        &:hover{
          &:first-child .title{
            color: #414042;
            text-shadow: 1px 1px 1px #F8F9F9;
            background: #a7a9ac;
            background: -moz-linear-gradient(left, #a7a9ac 0%, #e0e1e2 40%, #e0e1e2 50%, #e0e1e2 60%, #a7a9ac 100%);
            background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a7a9ac), color-stop(40%,#e0e1e2), color-stop(50%,#e0e1e2), color-stop(60%,#e0e1e2), color-stop(100%,#a7a9ac));
            background: -webkit-linear-gradient(left, #a7a9ac 0%,#e0e1e2 40%,#e0e1e2 50%,#e0e1e2 60%,#a7a9ac 100%);
            background: -o-linear-gradient(left, #a7a9ac 0%,#e0e1e2 40%,#e0e1e2 50%,#e0e1e2 60%,#a7a9ac 100%);
            background: -ms-linear-gradient(left, #a7a9ac 0%,#e0e1e2 40%,#e0e1e2 50%,#e0e1e2 60%,#a7a9ac 100%);
            background: linear-gradient(to right, #a7a9ac 0%,#e0e1e2 40%,#e0e1e2 50%,#e0e1e2 60%,#a7a9ac 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a9ac', endColorstr='#a7a9ac',GradientType=1 );
          }
        }

        .title{
          z-index: 2;
          position: absolute;
          bottom: 0;
          left: 0;
          height: 45px;
          vertical-align: middle;
          display: table;
          padding-left: 12px;
          font-size: 12px;
          color: #aeb0b2;
          border-right: 1px solid $brand-dark-gray;
          border-bottom: 1px solid $brand-dark-gray;
          //-webkit-box-shadow:  0px -4px 4px 0px rgba(0, 0, 0, 0.4);
          //box-shadow:  0px -4px 4px 0px rgba(0, 0, 0, 0.4);
          //text-shadow: 1px 1px 1px $brand-dark-gray;
          background: #837f7d;
          background: -moz-linear-gradient(left, #837f7d 0%, #514d4f 40%, #514d4f 50%, #514d4f 60%, #837f7d 100%);
          background: -webkit-gradient(linear, left top, right top, color-stop(0%,#837f7d), color-stop(40%,#514d4f), color-stop(50%,#514d4f), color-stop(60%,#514d4f), color-stop(100%,#837f7d));
          background: -webkit-linear-gradient(left, #837f7d 0%,#514d4f 40%,#514d4f 50%,#514d4f 60%,#837f7d 100%);
          background: -o-linear-gradient(left, #837f7d 0%,#514d4f 40%,#514d4f 50%,#514d4f 60%,#837f7d 100%);
          background: -ms-linear-gradient(left, #837f7d 0%,#514d4f 40%,#514d4f 50%,#514d4f 60%,#837f7d 100%);
          background: linear-gradient(to right, #837f7d 0%,#514d4f 40%,#514d4f 50%,#514d4f 60%,#837f7d 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#837f7d', endColorstr='#837f7d',GradientType=1 );

          span{
            display: table-cell;
            vertical-align: middle;
          }

          @include media-query(palm){
            font-size: 9px;
            border-right: none;
            padding-left: 6px;;
          }
        }
      }

      .offices{
        position: relative;
        z-index: 1;
        line-height: 0;
        padding: 0 0 0 0;
        margin: 0;
        .map-grid{

          .grid__item {
            img {
              @media(max-width: 900px) {
                max-width: auto !important;
              }
            }
          }


          span{

            width: 18px;
            height: 18px;
            background-image: url(./_/images/map-icon-sprite.png);
            background-position: 0 0;
            i.title{
              position:relative;
              z-index: 30;
              font-size: 9px;
              font-style: normal;
              text-transform: uppercase;
              line-height: 27px;
              text-align: center;
              text-shadow: 1px 1px 1px #f8f9f9;
              color: $brand-dark-gray;
              margin-top: -19px;
              margin-left: 9px;
              width: 69px;
              height: 29px;
              display: block;
              background: url(./_/images/map-titles-bg.png);
            }
          }
          span.star{
            background-position: -5px 0;
            position: absolute;
              &:hover{
                cursor: pointer;
                background-position: -43px 0;
              }
            &.denver{
              top: 332px;
              left: 219px;
            }
            &.phoenix{
              top: 346px;
              left: 211px;
            }
          }

          span.dot{

            background-position: -24px 0;
            position: absolute;
              &:hover{
                cursor: pointer;
                background-position: -43px 0;
              }
            &.mexico{   top: 367px; left: 233px;}
            &.sa-1{     top: 464px; left: 342px;}
            &.sa-2{     top: 491px; left: 322px;}
            &.so-af-1{  top: 488px; left: 485px;}
            &.aust{     top: 497px; right: 193px;}
            &.uk{       top: 296px; right: 498px;}
            &.ger{      top: 298px; right: 480px;}
            &.swed{     top: 260px; right: 462px;}
            &.russ{     top: 275px; right: 428px;}
            &.uae{      top: 365px; right: 378px;}
            &.india{    top: 376px; right: 328px;}
            &.sing{     top: 409px; right: 282px;}
            &.china{    top: 347px; right: 245px;}
            &.korea{    top: 338px; right: 228px;}
            &.japan{    top: 336px; right: 207px;}
          }

          //Main post content
          .content{
            position: absolute;
            top: 60px;
            left: 232px;
            z-index: 6;
            p{
              font-size: 18px;
              font-weight: normal;
              font-family: museo_sans100;
              line-height: 25px;
              padding-right: 20px;
            }
            .arrow{
              color: $brand-red;
              font-family: museo_sans300;
              font-size: 22px;
              margin-left: -14px;
              position: relative;
              top: 14px;
              &:before{
                content: "\203A";
              }
            }
            ul{
              margin: $base-line-height 0;
              width: 25%;
              float: left;
              margin-right: 10px;
              &:last-child{
                margin-right: 0;
              }
              li{
                font-size: 12px;
                font-weight: normal;
                font-family: museo_sans100;
                list-style-type: none;
                line-height: $base-line-height + 4;
              }
            }
          .people-title h3{
              font-size: 18px;
              font-weight: normal;
              font-family: museo_sans100;
              line-height: 25px;

            .bio-arrow{
              color: $brand-red;
              font-family: museo_sans300;
              font-size: 22px;
              margin-left: -14px;
              position: relative;
              margin-right: 6px;

              &:before{
                content: "\203A";
              }
            }

          }
          .people-bio p{
            padding-right: 20px;
                font-size: 12px;
                font-weight: normal;
                font-family: museo_sans100;
                list-style-type: none;
                line-height: $base-line-height + 4;
              }
          }

        }
      }

    &.min-height{
      min-height: $min-height;
        @include media-query(palm){
          min-height: 0;
        }
    }

	}
}
/*------------------------------------*\
    media headlines
\*------------------------------------*/
.rh-media{

  .headline{
    height: 40px;
    background: #a7a9ac;
    background: -moz-linear-gradient(left, #a7a9ac 0%, #e0e1e2 40%, #e0e1e2 50%, #e0e1e2 60%, #a7a9ac 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#a7a9ac), color-stop(40%,#e0e1e2), color-stop(50%,#e0e1e2), color-stop(60%,#e0e1e2), color-stop(100%,#a7a9ac));
    background: -webkit-linear-gradient(left, #a7a9ac 0%,#e0e1e2 40%,#e0e1e2 50%,#e0e1e2 60%,#a7a9ac 100%);
    background: -o-linear-gradient(left, #a7a9ac 0%,#e0e1e2 40%,#e0e1e2 50%,#e0e1e2 60%,#a7a9ac 100%);
    background: -ms-linear-gradient(left, #a7a9ac 0%,#e0e1e2 40%,#e0e1e2 50%,#e0e1e2 60%,#a7a9ac 100%);
    background: linear-gradient(to right, #a7a9ac 0%,#e0e1e2 40%,#e0e1e2 50%,#e0e1e2 60%,#a7a9ac 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7a9ac', endColorstr='#a7a9ac',GradientType=1 );


    @media(max-width: 900px) {
      height: auto;
    }

    .bar-padding {
      width: 20% !important;
    }

    p{
      font-size: 14px;
      margin-left: 0;
      display: inline-block;
      color: #414042;
      line-height: 40px;
      font-style: italic;
      text-shadow: 1px 1px 1px #F8F9F9;
      &:before{
        padding-right: px;
        font-size: 20px;
        font-style: normal;
        color: $brand-red;
        content: "\203A";
      }

      @media(max-width: 900px) {
        line-height: 20px;
      }
    }
  }
  .website-url{
    line-height: 40px;
    display: inline-block;
    a{
      //text-shadow: 1px 1px 1px #888888;
      font-size: 11px;
      font-style: italic;
      text-decoration: none;
      color: #4d4e51;
      display: inline-block;
      &:hover{
        color: $brand-red;
      }
      > span.url-arrow{
          background-image: url(./_/images/url-arrow.png);
          background-position: 0 -2px;
          width: 21px;
          height: 21px;
          margin: 0;
          vertical-align: middle;
          display: inline-block;
      }
    }
  }
}

.map-grid{
  max-width: auto;
  @media(max-width: 900px) {
    overflow: hidden !important;
  }

    img {
      @media(max-width: 900px) {
        max-width: initial !important;
      }
    }

  .content {
    @media(max-width: 900px) {
      left: 10px !important;
      top: 30px !important;
    }
  }
}

footer{

  font-size: 1em;
  font-weight: lighter;
  .footer-copyright{
    color: darken($brand-light-text,10%);
    font-size: .5em;
  }
  .phone-number{
    font-family: 'museo_sans300', sans-serif;
    color: $brand-red;
    text-decoration: none;
    @include media-query(palm){
      font-size: 14px;
    }
  }
  a[href^=tel]{
    color:$brand-red;
    text-decoration:none;
  }
}
//Tile mouseover shadow
#shadow {
  background-image: url(./_/images/shadow.png);
  opacity: 0.8;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
}

.vjs-loading-spinner {
  display: none !important;
  visibility: hidden;
}
