/*------------------------------------*\
    RH | page.scss
\*------------------------------------*/

body.stretched-background { 
  background: url(_/images/temp-bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  max-width: $wrapper-width;
  margin: 44px auto;
  padding: 0 22px;
}

section{
  color: $brand-light-text;
	&.main-container{
    margin-top: $base-line-height / 2;
    padding: $base-line-height - 2;
    height: auto;
		background: $brand-dark-gray;
      .tile{
        line-height: 0;
        padding: 0 0 1px 0;
      }
    &.min-height{
      min-height: $min-height;
    }
	}
}
#shadow {
  background-image: url(./_/images/shadow.png); 
  position: absolute; 
  left: 0; 
  top: 0; 
  width: 100%; 
  z-index: 100;
}
footer{
  font-size: 1.1em;
  font-weight: lighter;
  .footer-copyright{
    color: $brand-light-navs;
    font-size: .5em;
  }
  .phone-number{
    font-family: 'museo_sans100';
  }
}