/*------------------------------------*\
    VARS.SCSS
\*------------------------------------*/


/*------------------------------------*\
    $REED-HILL CUSTOM VARS
\*------------------------------------*/
$brand-dark-gray: 		#201E1F;//used on header
$brand-off-white:			#D0D2D3;//header and navigation
$brand-light-gray:		#58595B;
$brand-light-footer:	#808184;
$brand-light-text:		#A6A8AB;
$brand-hr-gray:				#4D5054;
$brand-red:						#EC1C24;

$wrapper-width:				1024px;

/*------------------------------------*\
    $OVERRIDES
\*------------------------------------*/

$debug-mode:        false!default;
$responsive:        true!default;
$responsive-extra:  true!default;

$lap-start:         481px!default;
$desk-start:        1024px!default;
$desk-wide-start:   1200px!default;

$base-font-size:    16px!default;
$base-line-height:  6px!default;
$base-font-family:  sans-serif!default;
$base-ui-color:     #ccc!default;
$brand-color:       #4a8ec2!default;
$brand-face:        "Helvetica Neue", sans-serif!default;
$brand-round:        4px!default;

$push:              true!default;
/**
 * Note: `$push` variable above must be set to true before enabling these.
 */
$palm-push:         true!default;
$lap-push:          true!default;
$lap-and-up-push:   true!default;
$portable-push:     true!default;
$desk-push:         true!default;

$pull:              true!default;
/**
 * Note: `$pull` variable above must be set to true before enabling these.
 */
$palm-pull:         true!default;
$lap-pull:          true!default;
$lap-and-up-pull:   true!default;
$portable-pull:     true!default;
$desk-pull:         true!default;

/*------------------------------------*\
    $OBJECTS-AND-ABSTRACTIONS
\*------------------------------------*/

$use-grids:         true;
$use-flexbox:       false;
$use-columns:       false;
$use-nav:           false;
$use-options:       false;
$use-pagination:    false;
$use-breadcrumb:    false;
$use-media:         false;
$use-marginalia:    false;
$use-island:        false;
$use-block-list:    false;
$use-matrix:        false;
$use-split:         false;
$use-this-or-this:  false;
$use-link-complex:  false;
$use-flyout:        false;
$use-arrows:        false;
$use-sprite:        false;
$use-icon-text:     false;
$use-beautons:      false;
$use-lozenges:      false;
$use-rules:         true;
$use-stats:         false;
$use-greybox:       false;


